<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/bootstrap-social-gh-pages/bootstrap-social.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

    <script src="//apis.google.com/js/platform.js?onload=start"> </script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="{{ url_for('main') }}">Catalog Item APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
        <form action="{{url_for('main')}}" method="GET">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">back</button>
            <a href={{ url_for('register_page') }}>Don't have an account yet?</a>
        </form>
          <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
  </div>
</nav><br><br><br>
<div class="container">
    <div class="row">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1 style="text-align: center">Login</h1>
            <form action="" method="POST">
                <input type="text" name="username" placeholder="Username" style="width: 100%; height: 50px;"><br><br>
                <input type="password" name="password" placeholder="Password" style="width: 100%; height: 50px;"><br><br>
                <button class="btn btn-primary btn-block" style="height: 50px;" type="submit">Login</button>

            </form>
            <br><span><p style="text-align: center;">OR</p><small style="margin-left: 40%">sign in with google+</small></span>
                <hr>
                <div id="signinButton">
                  <span class="g-signin btn btn-google btn-block"
                    data-scope="openid email"
                    data-clientid="471662521857-u01ukpfc2kmo4rkmka1ejlg80bl5t3pb.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">Google+
                  </span>
                </div>
            <div id="result"></div>

        </div>
    </div>
    
</div>
<footer class = "footer" style="background: lightgoldenrodyellow; color: #333333; margin-top: 18%; padding-bottom: 0px;">
    <div class = "container">
       <div class = "row justify-content-center">
            <div class = "col-auto col-sm-auto">
                <p>Made with love by <a style="color: blue;" href="https://www.github.com/omardiaa97" target="_blank">ODE97</a> @Udacity-FSND</p>
                <p style="text-align: center;">© Copyright 2019 </p>
            </div>
       </div>
    </div>
</footer>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/restaurant";
         }, 4000);

      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }

  }); } }
</script>

</body>
</html>