<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <a class="navbar-brand" href="#">Catalog Item APP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                  </ul>
{#                      <form action="{{url_for('login_page')}}" method="GET">#}
{#                            <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>#}
{#                          <a href={{ url_for('register_page') }}>Don't have an account yet?</a>#}
{#                      </form>#}
                        <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
                </div>
              </nav><br>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <li style="background-color: lightblue; color: green">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}
<div class="container"><br><br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class='col-sm-6'>
            <form action="{{url_for('add_item', categoryName=categoryname)}}" method="post">
                <h2 style="text-align: center">New {{categoryname}} Item</h2>
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <input type="text" class="form-control" name="name" aria-describedby="basic-addon3">
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    <input class="form-control" aria-label="With textarea" name="description">
                <Button class="btn btn-success btn-block" type="submit" style="margin-top: 15px;">Done</Button>
                
            </form>
        </div>
    </div>
</div>
 <footer class = "footer" style="background: lightgoldenrodyellow; color: #333333; margin-top: 25%; padding-bottom: 0px;">
    <div class = "container">
       <div class = "row justify-content-center">
            <div class = "col-auto col-sm-auto">
                <p>Made with love by <a style="color: blue;" href="https://www.github.com/omardiaa97" target="_blank">ODE97</a> @Udacity-FSND</p>
                <p style="text-align: center;">© Copyright 2019 </p>
            </div>
       </div>
    </div>
</footer>
</body>

</html>